// imports
@import './resets';
@import './variables';

body {
  background-color: $primary-color;
  color: $text-color;
}

// & -> refers to parent
// #{&} -> refers to inherit from parent then apply child css
.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: map-get($font-weights, bold);

    &:hover {
      color: $accent-color;
    }
  }
}
