// create variables
$primary-color: #272727;
$accent-color: #ff6527;
$text-color: red;

// create map {key:value}
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

body {
  background-color: $primary-color;
  color: $text-color;
  font-weight: map-get($font-weights, bold);
}
