@import "./resets";
@import "./variables";

/**
* Use to compute and return values
*/
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

/**
* Use to define styles
*/
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

body {
  background: $accent-clor;
  color: $text-clor;
}

.main {
  @include flexCenter(row); // call to mixin
  width: 80%;
  margin: 20px auto;

  /**
    * Interpolation: 
    * # --> everything before & (parent)
    * & --> parent
    */
  #{&}_para {
    font-weight: weight(regular);

    &:hover {
      color: blue;
    }
  }
}

.light {
    @include theme($light-theme: true);
}
