$primary-clor: #9e037a;
$accent-clor: #ff6527;
$text-clor: #fff;

$font-weights:(
    "regular":400,
    "medium":500,
    "bold": 700
);

body {
    background: $accent-clor;
    color: $text-clor;
    font-weight: map-get($font-weights, regular );
}

.main {
    width: 80%;
    margin: 10px auto;
}